@media (max-width: 1920px) {

  .footer__inner,
  .header__inner {
    //   max-width: 1200px;
    padding: 0 15px;
    //   margin: 0 auto;
  }

  .calc-body {
    width: 575px;
  }

  .contact__info {
    max-width: 575px;
  }

  .contact__wrap {
    max-width: 575px;
  }



  .contact__info-box .contact__info-link {
    padding: 12px 13.5px;
    gap: 8px;
  }

  .calc {
    max-width: none;
    width: fit-content;
  }

  .calc-left,
  .calc-right {
    display: none;
  }

  .main__inner {
    justify-content: space-between;
  }

  .info {
    width: 476px;
    margin-left: auto;
    padding: 0;
    background: rgba(255, 255, 255, 0.0);
  }

  .info-wrapper {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    padding: 36px 21px;

  }

  .footer__inner::after {
    width: 100%;
    left: 0;
  }

  .calc__top {
    margin-left: 0;
    position: relative;
  }



  .section__title {
    font-size: 50px;
  }

  .country__flag {
    position: absolute;
  }

  .footer__inner {
    padding: 38px 50px 25px 50px;
  }


  .footer__right {
    gap: 20px;
  }

  .footer__nav {
    gap: 14px;
    font-size: 14px;
  }

  .info__title {
    // max-width: 200px;
    margin: 0 auto 26px auto;
  }

  .info__item+.info__item {
    margin-top: 20px;
  }

  .info-box p {
    margin-bottom: 10px;
  }

  .info__block-item {
    white-space: wrap;
    font-size: 16px;
  }

  .user__btn {
    padding: 10px;
    font-size: 14px;
  }

  .header__line {
    margin-left: 24px;
  }

  .header__contact-link {
    font-size: 19px;
  }

  .container-left {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .map__search {
    max-width: 593px;
    width: 100%;
  }

  .contact__wrap {
    max-width: 575px;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .main__inner {
    flex-direction: column;
  }

  .header__line,
  .header__contact {
    display: none;
  }

  .header__user {
    margin-right: 0;
  }

  .user__btn {
    padding: 13px;
    border-radius: 50%;
    border: 1px solid #606060;

    path {
      fill: #606060;
    }

    span {
      display: none;
    }
  }

  .header__social {
    margin-left: 10px;

    svg {
      width: 39.6px;
      height: 39.6px;
    }

    rect {
      fill: #D7B27B;
      fill-opacity: 1;
    }

    path {
      fill: #fff;
    }
  }

  .info {
    margin: 0 auto;
    width: auto;
    max-width: none;
  }

  .calc {
    margin: 0 auto 24px auto;
    width: auto;
  }

  .calc-body {
    width: 100%;
    max-width: none;
  }

  .info__title {
    max-width: none;
    margin: 0 0 24px 0;
    text-align: left;
  }

  .info-wrapper {
    border-radius: 0;
    padding: 24px 20px;
  }

  .section__title {
    font-size: 24px;
    margin: 0 auto;
  }

  .calc__inner {
    padding-top: 25px;
  }

  .replace {
    circle {
      fill: rgba(255, 255, 255, 0.1);
    }

    path {
      stroke: #D6D6D6;
    }
  }

  .calc-body-midle {
    flex-direction: column;
  }

  .calc-body-midle input {
    width: 100%;
  }

  .price-box {
    margin-top: 20px;
    width: 100%;
    justify-content: unset;

    p {
      display: none;
    }

    .price-box-course {
      position: relative;

      span {
        color: #ABABAB;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        padding-left: 10px;
      }
    }

    .price-box-course::before {
      position: absolute;
      display: block;
      content: "/";
      color: #ABABAB;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .price-box-val span {
    font-size: 24px;
    font-weight: 500;
  }

  .calc-body {
    gap: 12px;
  }

  .policy {
    max-width: 225px;
    margin: 0 auto;
  }

  .info__title {
    position: relative;
    font-size: 20px;
    font-weight: 500;
  }

  .info__title::after {
    display: block;
    position: absolute;
    content: "";
    width: 12px;
    height: 6px;
    right: 0;
    top: 50%;
    transition: all 0.4s ease-out;
    transform: translateY(-50%) rotate(-180deg);
    background-image: url(../images/Vector.svg);
  }

  .info-wrapper {
    padding: 0 20px;
    overflow: hidden;
    height: fit-content;

    .info__title {
      margin-bottom: 0;
      padding: 24px 0;
      height: 70px;
      position: relative;
      z-index: 99;
    }

    .info-container {
      transition: all 0.6s ease-out;
      position: relative;
      margin-top: calc(-100% - 90px);
      padding-bottom: 24px;
    }

    .info__dropdown {
      overflow: hidden;
      position: relative;
      // transform: translateY(-100%);
    }
  }

  .info-wrapper.active {


    .info-container {
      // transform: translateY(0);
      margin-top: 0;

    }

    .info__title::after {
      transform: translateY(-50%) rotate(0deg);

    }

  }

  .info__block {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__inner {
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .footer__inner::after,
  .footer__inner::before {
    display: none;
  }

  .footer__social {
    display: none;
  }

  .header {
    padding: 12px 15px;
  }

  .footer__box {
    position: relative;
    display: flex;
    max-width: 100%;
    width: 100%;
    gap: unset;
    justify-content: space-between;
    padding-bottom: 28px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding: 0 15px;
  }

  .footer__right {
    width: 100%;
  }

  .footer__box::after {
    background: #D7B27B;
    height: 1px;
    display: block;
    content: "";
    width: calc(100% + 30px);
    left: -15px;
    position: absolute;
    bottom: 0;
  }

  .footer__nav {
    flex-direction: column;
  }

  .calc-widget {
    position: unset;
  }

  .calc-widget-drop-wrap {
    width: calc(100% - 15px);
  }

  .calc-body-right {
    .calc-widget-drop-wrap {
      right: 0px;
    }

  }

  .replace {
    margin-left: 9px;
    margin-right: 9px;
  }

  .calc__country {
    max-width: 320px;
    margin: 0 auto;
  }

  .agreements__title {
    line-height: 1;
  }
}

@media (max-width: 992px) {
  .agreements__aside {
    display: none;
  }

  .agreements__inner {
    padding-top: 20px;
  }

  .agreements__title {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    line-height: 110%;
  }

  .agreements__body {
    gap: 48px;
  }

  .agreements__heading {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 110%;
  }

  .agreements__body p {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }

  .body__line {
    display: block;
  }

  .contact__inner {
    flex-direction: column;
    justify-content: center;
  }

  .contact__wrap {
    margin: 0 auto;
  }

  .work-hours {
    text-align: center;
    display: block;
  }

  .work-hours-box {
    width: fit-content;
    align-items: start;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 64px;
  }

  .contact__inner {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .contact__wrap {
    padding: 0;
    background-color: none;
  }

  .mob {
    display: flex;
  }

  .contact__info-mail {
    display: none;
  }

  .contact__info-box {
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  .map__search {
    margin-bottom: 10px;
  }

  .contact__title {
    font-size: 25px;
  }

  .contact__form,
  .contact__wrap {
    gap: 15px;
  }
}

@media (max-width: 1920px) {


  .profile__inner {
    flex-direction: column;
  }

  .profile__body {
    max-width: none;
  }

  .profile__sidebar {
    max-width: none;
    flex-direction: row;
  }

  .profile__sidebar-item {
    width: calc(33.33% - 10px);
  }

  .afilate__midle-item a {
    display: none;
  }

  .afilate {
    padding: 20px;
  }

  .profile__history {
    padding: 36px 20px;
  }

  .afilate__midle-item svg {
    width: 76px;
    height: 76px;
  }

  .afilate__midle-item {
    padding: 12px;
  }

  .afilate__midle-item:nth-child(2) {
    span {
      max-width: 138px;
      display: block;
    }
  }

  .afilate__midle-item:nth-child(3) {
    span {
      max-width: 145px;
      display: block;
    }
  }

  .afilate__midle-item span {
    font-size: 12px;

  }

  .afilate__midle-item:last-child {
    padding: 0;
  }

  .profile__sidebar-item {
    height: max-content;
  }

  .profile__sidebar-wrap {
    svg {
      height: 24px;
      width: auto;
    }
  }

}

@media (max-width: 1516px) {
  .loyalty__box {
    display: flex;
    gap: 100px auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .loyalty__box-item {
    max-width: 575px;
    width: fit-content;

    svg {
      max-width: 220px;
    }
  }

  .loyalty__box-item:nth-child(2) {
    max-width: 500px;
  }

  .loyalty .d-flex {
    gap: 0 20px;
  }

  .loyalty__box-item:nth-child(4) {
    max-width: 500px;

    svg {
      max-width: 207px;
    }
  }

  .loyalty-item-wrap span {
    font-size: 100px;
  }

  .loyalty__box-item-title {
    font-size: 45px;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .loyalty__title {
    margin: 70px 0;
  }
}

@media (max-width: 1200px) {
  .loyalty__box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 72px;
  }

  .reverse {
    flex-direction: row;
  }

  .loyalty__title {
    margin: 20px 0 36px 0;
    color: #D7B27B;
    text-align: center;
    font-size: 33px;
    font-weight: 600;
    line-height: 110%;
  }

  .loyalty__box-item:nth-child(4) svg,
  .loyalty__box-item svg {
    max-width: 160px;
    height: auto;
  }

  .loyalty__box-item:nth-child(1) {
    order: 1;
  }

  .loyalty__box-item:nth-child(2) {
    order: 2;
  }

  .loyalty__box-item:nth-child(3) {
    order: 4;
  }

  .loyalty__box-item:nth-child(4) {
    order: 3;
  }

  .loyalty__box-item:nth-child(5) {
    order: 5;
  }

  .loyalty__box-item:nth-child(6) {
    order: 5;
  }

  .loyalty__box-item:nth-child(7) {
    order: 8;
  }

  .loyalty__box-item:nth-child(8) {
    order: 7;
  }

  .loyalty-item-wrap span {
    font-size: 70px;
  }

  .num-list {
    padding-left: 25px;
  }

  .loyalty__box-item-title {
    font-size: 25px;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

@media (max-width: 1920px) {
  .calc {
    max-width: 50%;
  }

  .calc-body {
    width: 100%;
  }

  .info {
    max-width: 45%;
    width: 45%;
  }

  .main__inner {
    padding: 55px 0 20px 0;
  }
}

///Feedbacks
@media (max-width:1400px) {
  #feedback__item-2 {
    bottom: -90px;
    left: -40px;
    -webkit-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    transition: all .7s ease-out;
  }

  #feedback__item-4 {
    left: -100px;
  }
}

@media (max-width:1200px) {
  #feedback__item-2 {
    bottom: -90px;
    left: 0px;
    -webkit-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    transition: all .7s ease-out;
  }

  #feedback__item-4 {
    left: -100px;
  }
}

@media (max-width:1000px) {
  .feedback__item {
    position: static;
    max-width: none;
    width: 100%;
  }

  .feedback-line {
    gap: 20px;
    flex-wrap: wrap;
  }

  .feedback-line-last {
    gap: 20px;
    flex-wrap: wrap;
  }

  .feedback__body {
    padding-bottom: 40px;
  }

  .feedback-title {
    margin: 20px 0 36px 0;
    font-size: 25px;
  }

  .user__form {
    height: calc(100% + 70px);
    opacity: 0;

    .user__form-wrap {
      top: -70px;
      background: #232323;
    }

    &-overlay {
      backdrop-filter: none;
      opacity: 1;
      background: #232323;
    }
  }

  .user__form.active {
    opacity: 1;
    background: #232323;
  }

  .user__form h4 {
    font-size: 25px;
    margin-bottom: 0;
  }

  .sing,
  .reg {
    gap: 15px;
  }

  .user__form .sing .user__form-input-pass {
    max-width: none;
  }

  .pass__box {
    flex-wrap: wrap;
  }

  .user__form .pass-forgot {
    text-align: center;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
  }

  .user__form .user__form-sing,
  .user__form .user__form-reg {
    gap: 15px;
  }

  .user__form .user__form-wrap {
    padding: 36px 50px;
  }

  .user__form.active .user__form-overlay {
    background-color: transparent;
  }

  .user__form .user__form-input-box {
    display: flex;
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
  }

  .policy-form {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1920px) {
  .article-title {
    font-size: 20px;
  }

  .articles-block {
    margin-bottom: 56px;
  }

  .article-banner-title {
    font-size: 26px;
  }

  .article-banner img {
    max-width: 570px;
  }

  .article-banner p {
    font-size: 16px;
  }

  .article-banner {
    margin-bottom: 40px;
  }
}

@media (max-width: 1200px) {

  .article-banner {
    flex-direction: column;

    img {
      width: 100%;

    }
  }

  .articles-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {

  .article-banner {
    flex-direction: column;
    gap: 22px;

    img {
      width: 100%;

    }
  }

  .article-banner-top {
    i {
      font-size: 14px;
    }
  }

  .article-banner-title {
    font-size: 22px;
  }

  .articles-box {
    grid-template-columns: repeat(1, 1fr);
  }

  .article-banner-teg {
    font-size: 14px;
  }

  .article-banner p {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  .articles-block-heading {
    color: #D7B27B;
    font-size: 22px;
    font-weight: 600;
    line-height: 110%;
  }

  .article-banner {
    margin-top: 30px;
  }

  .article-banner.tag-to {
    flex-direction: column;
  }

  .tag-to .articles-block-heading {
    font-size: 22px;
  }

  .show-more {
    width: 100%;
    margin: 50px auto 100px auto;
  }
}

@media (max-width: 1920px) {
  .about__banner img {
    width: 576px;
  }

  .about__title {
    font-size: 35px;
    max-width: 377px;
  }

  .about__subtitle {
    font-size: 16px;
  }

  .about__page {
    .container-main {
      max-width: 1200px;
      padding: 0 15px;
    }
  }

  .about__list li {
    font-size: 14px;
    text-align: left;

    strong {
      font-size: 14px;

    }
  }

  .about__banner {
    margin-bottom: 60px;
  }

  .mission__title {
    font-size: 50px;
    max-width: 480px;
    width: auto;
  }

  .mission__text {
    margin-top: 34px;
    font-size: 20px;
  }

  .services .body__line {
    margin-bottom: 50px;
  }

  .mission-right {
    max-width: 425px;
  }

  .adventages__item {
    padding: 50px 40px;
  }

  .adventages__item-title {
    font-size: 22px;
    margin-bottom: 12px;
    padding-top: 100px;
  }

  .adventages__item-text {
    font-size: 16px;
  }

  .services-item {
    font-size: 18px;
    padding: 40px 32px;
  }

  .mission {
    height: 393px;
  }

  .mission__inner {
    justify-content: space-between;
  }

  .adventages__item:nth-child(1),
  .adventages__item:nth-child(2),
  .adventages__item:nth-child(3) {
    height: 400px;

  }

  .adventages__item:nth-child(1) .adventages-icon,
  .adventages__item:nth-child(2) .adventages-icon,
  .adventages__item:nth-child(3) .adventages-icon {
    height: 250px;
    width: auto;
  }

  .adventages__item-bottom {
    font-size: 14px;
    align-items: start;

    svg {
      width: 30px;
      height: 30px;
    }

    span {
      max-width: 222px;
    }
  }

  .adventages__item:nth-child(4),
  .adventages__item:nth-child(5) {
    height: 283px;
    padding-bottom: 27px;
  }

  .adventages__item:nth-child(4) .adventages-icon,
  .adventages__item:nth-child(5) .adventages-icon {
    height: 229px;
    width: auto;
  }

  .order-title {
    font-size: 50px;
    margin: 32px 0 31px 0;
  }

  .order__buttons {
    flex-direction: column;
    align-items: start;
  }

  .order svg {
    max-width: 747px;
  }

  .questions-item__heading {
    font-size: 22px;
  }

  .questions-item__drop {
    font-size: 16px;
  }

  .sell-btn {
    font-size: 20px;
  }
}

@media (max-width: 1920px) {
  .container {
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  .calc__inner {
    width: 100%;
  }

  .container-main {
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  .about__page .container-main {
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  .container-left {
    margin-left: 0;
    padding-left: 25px;
    padding-right: 0;
    max-width: 100%;
  }

  .contact__inner {
    width: 100%;
  }

  .map__block {
    margin: 0 auto;
  }
}